<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/{{style}}">
    <title>LOG IN</title>
</head>

<body>
    <header class="logo">
        <h1>PAYMENTAPP</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/profile">Go to profile</a></li>
                <li><a href="/profile/deposit">Make a deposit</a></li>
                <li><a href="/profile/open-account">Open an account</a></li>
                <li><a href="/profile/send-money">Send Money</a></li>
            </ul>
        </nav>
        <a class="logout" href="/logout">LOG OUT</a>
    </header>
    <div class="open-wrapper">
        <form method="post" action="/profile/open-account" class="form">
            <h2>OPEN ACCOUNT</h2>
            <div class="input-group">
                <label>Account nickname</label>
                <input type="text" name="accountName">
            </div>
            <div class="input-group">
                <label>Balance</label>
                <input type="number" name="balance">
            </div>
            <div class="input-group">
                <label>Currency</label>
                <input type="text" name="currency">
            </div>
            <div class="submit-btn">
                <button type="submit">Open account now!</button>
            </div>
            {{#if errorMessage}}
            <div>
                <p style="color: red;">{{errorMessage}}</p>
            </div>
            {{/if}}
        </form>
    </div>
</body>

</html>