<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEND MONEY</title>
</head>

<body>
    <h1>Send money</h1>
    <a href="/profile">Go to profile</a>
    <form method="post" action="/profile/send-money">
        <div>
            <label>Username</label>
            <input type="text" name="sendUsername">
        </div>
        <button type="submit">Select User</button>
        </div>
        </div>
        {{#if errorMessage}}
        <div>
            <p style="color: red;">{{errorMessage}}</p>
        </div>
        {{/if}}
    </form>
</body>

</html>