<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can't send money</title>
</head>

<body>
    {{#if errorMessage}}
    <p style="color: red">You can't send a negative amount, please <a href="/profile/send-money">try
            again</a></p>
    <a href="/profile">Go to profile</a>
    {{/if}}
</body>

</html>